<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, intial-scale=1">
    <title>View Customers</title>

    <!--    link css files-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!--    link js file-->
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>

<br/>
<div class="container text-center">
    <h4>List of Customers</h4>
    <br><br>
    <div class="row">
        <form class="form-inline">
            <input type="text" class="form-control" id="search" placeholder="Search by ID or Name" name="search">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Email</th>
<!--                    <th scope="col">Password</th>-->
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="customer: ${customers}">
                    <td th:text="${customer.cus_id}"></td>
                    <td th:text="${customer.name}"></td>
                    <td th:text="${customer.address}"></td>
                    <td th:text="${customer.phone}"></td>
                    <td th:text="${customer.email}"></td>
<!--                    <td th:text="${customer.password}"></td>-->
                    <td>
                        <a th:href="@{/customer/edit/{id}(id=${customer.cus_id})}" class="btn btn-primary">Edit</a>
                        <a th:href="@{/customer/delete/{id}(id=${customer.cus_id})}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>


</body>
</html>