<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, intial-scale=1">
    <title>View Tours</title>

    <!--    link css files-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!--    link js file-->
    <script src="/js/bootstrap.min.js"></script>

</head>
<body>
<br/>
<div class="container text-center">
    <h4>List of Tours</h4>
    <br><br>
    <div class="row">
        <form class="form-inline">
            <input type="text" class="form-control" id="search" placeholder="Search by ID or Title" name="search">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Title</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Start Point</th>
                        <th scope="col">End Point</th>
                        <th scope="col">Rate</th>
<!--                        <th scope="col">Route</th>-->
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="tour: ${tours}">
                        <td th:text="${tour.id}"></td>
                        <td th:text="${tour.title}"></td>
                        <td th:text="${tour.start_date}"></td>
                        <td th:text="${tour.end_date}"></td>
                        <td th:text="${tour.start_point}"></td>
                        <td th:text="${tour.end_point}"></td>
                        <td th:text="${tour.rate}"></td>
<!--                        <td th:text="${tour.route}"></td>-->
                        <td>
                            <a th:href="@{/tour/edit/{id}(id=${tour.id})}" class="btn btn-primary">Edit</a>
                            <a th:href="@{/booking/tourbook/{id}(id=${tour.id})}" class="btn btn-success">Book</a>
                            <a th:href="@{/tour/delete/{id}(id=${tour.id})}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

</body>
</html>